.home-container{
  background: hsla(40, 94%, 74%, 1);
  background: #F1E5D1;
  height: 100vh;
}

h1{
  color: rgb(232, 79, 48);
  font-weight: 900;
}

h3{
  color: rgba(232, 79, 48, 0.7);
}

p, a, h5 {
  color: rgba(232, 79, 48, 1);
  text-decoration: none;
}
