.home-container{
  background: hsla(40, 94%, 74%, 1);
  background: radial-gradient(circle, hsla(40, 94%, 74%, 1) 0%, hsla(60, 89%, 72%, 1) 100%);
  background: -moz-radial-gradient(circle, hsla(40, 94%, 74%, 1) 0%, hsla(60, 89%, 72%, 1) 100%);
  background: -webkit-radial-gradient(circle, hsla(40, 94%, 74%, 1) 0%, hsla(60, 89%, 72%, 1) 100%);

  border-top: 5px solid #FA715F;
  border-bottom: 5px solid #FA715F;
  height: 100vh;
}

h1{
  color: rgb(232, 79, 48);
  font-weight: 900;
}

h3{
  color: rgba(232, 79, 48, 0.7);
}

p, a, h5 {
  color: rgba(232, 79, 48, 1);
  text-decoration: none;
}
