<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to elections_path, class: "navbar-brand" do %>
      <img src="https://res.cloudinary.com/db80w7hs9/image/upload/v1688815110/croquete_icon_lcm82f.png">
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>

        <li class="nav-item dropdown">
          <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-link nav-link" do %>
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
          <% end %>
        </li>

        <% else %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
