<div class="navbar ">
  <div class="flex-1">
    <%= link_to elections_path, class: "navbar-brand" do %>
      <%= image_tag 'logo.png', class:"navbar-logo" %>
      <div class="flex-1 flex items-center">
        <p class="btn btn-ghost text-l flex items-end text-bold text-[#55ad9b]">Tour do Croquete</p>
      </div>
    <% end %>
  </div>
  <div class="flex-none">
    <ul class="navbar-nav me-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <%= button_to destroy_user_session_path, method: :delete, class: "btn btn-link nav-link" do %>
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
          <% end %>
        </li>
      <% else %>
        <% end %>
    </ul>
  </div>
</div>
