<div class="home-container d-flex flex-column align-items-center justify-content-center">
  <h1 class="mt-4">TOUR DO CROQUETE</h1>
    <%= link_to elections_path do %>
      <div class="home-img">
        Aqui vai estar a imagem do croquete
        <%# cl_image_tag 'aey00aj7iq5l4rbidgey',
        class:'w-100',
        style: 'max-height: 500px;' %>
      </div>
    <% end %>
    <h3>Clica aí no gostoso</h3>
</div>
