<div class="home-container d-flex flex-column align-items-center justify-content-center">
  <h1 class="mt-4">TOUR DO CROQUETE</h1>
    <%= link_to elections_path do %>
      <div class="home-img">
        <img src='https://res.cloudinary.com/db80w7hs9/image/upload/v1688813539/development/m0rom1syycemqfm9lzjtf5e8gt5a.png',
        class='w-100',
        style= 'max-height: 500px;'>
      </div>
    <% end %>
    <h3>Clica aí no gostoso</h3>
</div>
